
/*
body {
  background-color: ;
  background-image: url() ;
  background-repeat: ;
}
*/
h1 {
  color: orange;
  font-family: 'Lato', sans-serif;
  text-align: left;
  text-shadow: 5px 5px lightgray;
  padding: 50px;
}

/*
p {
  color: ;
  background-color: ;
  font-family: ;
  text-align: ;
  font-weight: ;
  padding: px px;
  margin: px px;
  text-indent: ;
}

button {
  color: ;
  background-color: ;
  text-decoration: ;
  font-family: ;
  text-align: ;
  font-weight: ;
  padding: px px;
  margin: px px;
  border: px style color;
  text-indent: ;
}
*/
